.preview{
  width: 500px;

}


#table {
  width: 100%;
}

#table input {
  border: none;

}

/*#table input:focus {
  border: none;
  border-color: none;
}*/

.showHtmlField{
  border: 1px solid lightgrey;
  height: 500px;
  width: 500px;
  overflow-y: scroll;
  margin: 10px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#htmlOutput{
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
