.preview{
  width: 500px;

}


#table {
  width: 100%;
}

#table input {
  border: none;

}

.showHtmlField{
  border: 1px solid lightgrey;
  height: 500px;
  width: 500px;
  overflow-y: scroll;
  margin: 10px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

#htmlOutput{
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.userInputs {
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid lightgrey;
  width: 400px;
}

.userInputs label, input, select{
  margin-bottom: 5px;
}

.userInputs button{
  font-size: 12px;
}
